<form action="/join" method="post">

  <div class="container">
    <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    </div>
    <div>
    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" required>
    </div>
    <div>
      <label for="age"><b>Age</b></label>
      <input type="text" placeholder="Enter Age" name="age" required>
    </div>
    <div>
    <label for="key">Favoite Music Key:</label>
    <select id="key" name="key" required>
      <option value="F">F</option>
      <option value="Emin">Emin</option>
      <option value="Amin">Amin</option>
      <option value="Bb">Bb</option>
      <option value="Db">Db</option>
      <option value="Eb">Eb</option>
      <option value="G">G</option>
      <option value="Cmin">Cmin</option>
      <option value="Dmin">Dmin</option>
      <option value="Ab">Ab</option>
      <option value="Bmin">Bmin</option>
      <option value="Fmin">Fmin</option>
    </select>
    </div>
    <div>
    <label for="genre">Favoite Jazz Genre:</label>
    <select id="genres" name="genre" required>
      <option value="Medium Swing">Medium Swing</option>
      <option value="Medium Up Swing">Medium Up Swing</option>
      <option value="Up Tempo Swing">Up Tempo Swing</option>
      <option value="Waltz">Waltz</option>
      <option value="Ballad">Ballad</option>
      <option value="Bossa Nova">Bossa Nova</option>
      <option value="Even 8ths">Even 8ths</option>
      <option value="Funk">Funk</option>
      <option value="Latin">Latin</option>
    </select>
    </div>
    <input type="submit" value="Submit">

  </div>
</form>